<div>
  <div class="purple-header flex-grow">
    <p class="title">
      XPAND
    </p>
  </div>
  <div *ngFor="let planet of planetData">
    <app-planet [planet]="planet"></app-planet>
  </div>
</div>
