<div class="planet">
    <div class="planet-img-and-name">
        <img class="planet-image" [src]="planet.image">
        <p class="planet-name">{{planet.name}}</p>
    </div>
    <div class="planet-text">
        
        <p *ngIf="!editClicked" class="margin-bottom planet-description">{{planet.description}}</p>
        <textarea *ngIf="editClicked" rows="4" cols="50" name="userName" [(ngModel)]="descriptionText"  maxlength="200" #userNameDir="ngModel"></textarea>

        <p class="margin-bottom captain-name"><span class="bold-text">By captain </span>{{planet.captainName}}</p>
        <p class="margin-bottom robots"><span class="bold-text">Robots: </span>{{planet.robots}}</p>
    </div>
    
    <div class="planet-status">
        <p *ngIf="!editClicked" [ngClass]="{'green-text': isGreenText(planet.status), 'red-text': isRedText(planet.status), 'grey-text': isGreyText(planet.status)}">
            {{getStatusAsString(planet.status)}}
        </p>
        <select *ngIf="editClicked" [(ngModel)]="selectedStatus">
            <option [value]="enum" *ngFor="let enum of planetStatusArray()">{{getStatusAsString(enum)}}</option>
        </select>
        <fa-icon class="edit-icon" [icon]="editIcon" (click)="onClickEdit(planet.description)"></fa-icon>
        <div *ngIf="editClicked">
            <p class="green-text save-changes-btn" (click)="onClickSave()">SAVE</p>
        </div>
        <div *ngIf="showSpinner">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
    </div>
</div>
