.planet-image{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.planet{
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    border: 0.01px;
    border-style: ridge;
    border-color: #ece3d9;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.planet-text{
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    
    margin-right: 5vw;
}

.bold-text{
    font-weight: bold;
}

.planet-status{
    margin-left: 70vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-bottom{
    margin-bottom: 0.7vw;
}

.red-text{
    color: red;
}

.green-text{
    color: green;
}

.grey-text{
    color: grey;
}

.planet-img-and-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-name{
    font-weight: bold;
    margin-top: 0.5vw
}

.planet-description{
    font-size: large;
}

.captain-name{
    font-size: small;
}

.robots{
    font-size: medium;
}

.edit-icon{
    margin-top: 1vw;
    cursor: pointer;
}

.save-changes-btn{
    font-size:small;
    margin-top: 1vw;
    cursor: pointer;
}
